@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

// color
$font-family: "Poppins", sans-serif;
$text-primary-color: #000;
$text-secondary-color: #ccc;
$background-color: #f5f5f5;
$button-primary-color: red;
$button-hover: blue;
$button-border-color: green;

// space
$m-sm: 0.4rem;
$m-med: 1rem;
$m-l: 2rem;
$m-xl: 3rem;

// typography
$fz-title-large: 1.5rem;
$fz-sub-title-large: 1.3rem;
$fz-title-medium: 1.3rem;
$fz-sub-title-medium: 1.1rem;
$fz-title-small: 1.1rem;
$fz-sub-title-small: 0.9rem;
